@font-face {
    font-family: "GardensC";
    src: url("../fonts/GardensC.otf")
}
.nav_header{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    z-index: 1000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GardensC;
}

body {
    background-color: rgb(238, 238, 238);
}

main {
    padding-left: 15%;
    padding-right: 15%;
    /* border: 1px solid rgb(0, 17, 255); */
}
.btn_burger{
    background: none;
    border: none;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    /* border: 1px solid red; */
    color: rgb(238, 238, 238);
}
.dropdown{
    display: none
}
.my_btn{
    background: none;
    border: none;
    padding: none;
    margin-right: 10px;
}
.my_menu{
    background-color:  rgb(46, 48, 48);
    height: 200px;
    padding: 20px;
    width: 300px;
    color: rgb(238, 238, 238);
    gap: 20px;
}
li>a{
    color: rgb(238, 238, 238);
    font-size: 20px;
    margin-bottom: 20px;
}
.my_li{
    margin-bottom: 20px;

}
.my_li:hover{
    color:rgba(238, 238, 238, 0.533) ;
}

























main>h1 {
    width: 100%;
    text-align: left;
    /* border: 1px solid rgb(255, 85, 0); */
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 50px;
    font-weight: 1000;
    margin-bottom: 50px;
}

.cloud1 {
    z-index: 0;

    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 650px;
    background: url(../img/cloud/cloud-03.png);
    animation: anim1 120s linear infinite;
}

.cloud2 {
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 650px;
    background: url(../img/cloud/cloud-01.png);
    animation: anim2 190s linear infinite
}

@keyframes anim1 {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 5440px;
    }
}

@keyframes anim2 {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 6000px;
    }
}

.logo_1 {
    height: 30px;
    letter-spacing: 3px;
}

.burger {
    display: none;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    height: 30px;
}

.had_div>a {
    color: rgba(255, 255, 255, 0.608);
    letter-spacing: 2px;
    transition: all 0.5s ease;
    font-size: 12px;
}

.had_div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.had_div>a:hover {
    color: rgb(238, 238, 238);
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

.text_header>h1 {
    letter-spacing: 3px;
    font-weight: 1000;

}

.logo_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 50px;
    background-color: rgb(46, 49, 49);
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.header_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/baner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    /* border: 1px solid red; */
    width: 100%;
    background-position: 1%;
    gap: 20px;

}

.header_photo>a {
    z-index: 100;
}

.text_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    background-color: rgba(46, 48, 48, 0.604);
    padding: 30px;
    border-radius: 30px;
    width: 60%;
    color: rgb(238, 238, 238);
    z-index: 10;
}

.button_header {
    text-transform: uppercase;
    padding: 10px;
    width: 150px;
    background: none;
    border: none;
    color: rgb(238, 238, 238);
    border-radius: 50px;
    background-color: rgb(46, 48, 48);
    letter-spacing: 2px;
    z-index: 100;
    transition: all 0.5s ease;
}

.button_header:hover {
    background: none;
    outline: solid 2px rgb(46, 49, 49);
    outline-offset: -2px;
    transform: scale(1.03);
    color: rgb(46, 48, 48);
}




















.div_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 100px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(255, 0, 0); */
    gap: 30px;
}

.sect_alg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* border: 1px solid rgb(0, 17, 255); */
    width: 100%;
    min-width: 200px;
    height: 100%;
    text-align: center;
    font-size: 15px;
    gap: 10px;
    transition: 0.5s all ease;
}

.sect_alg:hover {
    transform: scale(1.05);
}

.img_icon {
    height: 50px;
}


.algoritm_bron>h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}





















.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3px solid rgb(212, 0, 255); */
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-shadow: 0px 3px 6px 2px rgba(46, 49, 49, 0.336);
    border-radius: 20px;
    gap: 10px;
    width: 50%;
    background-color: rgb(238, 238, 238);
}

.form>input,
select {
    padding: 5px;
    width: 90%;
    border-radius: 7px;
    border: none;
    border: 1px solid rgb(46, 48, 48);
    height: 40px;
}

.button1 {
    text-transform: uppercase;
    padding: 10px;
    width: 150px;
    background: none;
    border: none;
    color: rgb(238, 238, 238);
    border-radius: 50px;
    background-color: rgb(46, 48, 48);
    letter-spacing: 2px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.button1:hover {
    background-color: rgb(238, 238, 238);
    outline: solid 2px rgb(49, 49, 49);
    outline-offset: -2px;
    transform: scale(1.03);
    color: rgb(46, 48, 48);
}



















.acsii {
    margin-bottom: 50px;
}

.kar {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* border: solid 3px blue; */
}

.karos_h,
.karos_p {
    color: rgb(46, 49, 49);
}

.karos_text {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.553);
    border-radius: 10px;
}

.carousel {
    box-shadow: 0px 3px 8px 3px rgba(46, 49, 49, 0.336);
}










.otzuvy {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    gap: 30px;
    /* border: solid 3px rgb(255, 0, 221); */
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.otzuvy>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 20px;
    transition: all ease 0.5s;
}
.otzuvy>section:hover {
    transform: scale(1.05);

}
.otzuv_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.otzuv_p {
    text-align: justify;
}






.podpiska {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 3px rgb(255, 0, 221); */
    margin-bottom: 50px;
    gap: 30px;
}

.podp {
    width: 100%;
    text-align: left;
    /* border: 1px solid rgb(255, 85, 0); */
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: 20px;
    font-weight: 1000;
    text-align: center;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border: 1px solid rgb(115, 0, 255); */
    width: 100%;
}

.email>input {
    padding: 5px;
    width: 40%;
    border-radius: 7px;
    border: none;
    border: 1px solid rgb(46, 49, 49);
    height: 40px;
}

.podpiska>button {
    text-transform: uppercase;
    padding: 10px;
    width: 350px;
    background: none;
    border: none;
    color: rgb(238, 238, 238);
    border-radius: 50px;
    background-color: rgb(46, 49, 49);
    letter-spacing: 2px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.podpiska>button:hover {
    background-color: rgb(238, 238, 238);
    outline: solid 2px rgb(49, 49, 49);
    outline-offset: -2px;
    transform: scale(1.03);
    color: rgb(46, 48, 48);
}

button>a {
    color: rgb(238, 238, 238);
    z-index: 100;
}

input,
select {
    transition: all 0.3s ease;
}

input:hover {
    transform: scale(1.03);
}

select:hover {
    transform: scale(1.03);
}









footer {
    padding-left: 15%;
    padding-right: 15%;
    /* border: 3px solid rgb(255, 0, 195); */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(46, 49, 49);
    color: rgb(238, 238, 238);
}

.kontaktu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img_foot {
    border: 2px solid rgb(238, 238, 238);

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

}

.sect_foot>p {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 20px;
    color: rgb(238, 238, 238);
    transition: 0.3s all ease;
}

.sect_foot>p:hover {
    color: rgba(238, 238, 238, 0.579);
}












@media(max-width:770px) {
    .nav_header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .form {
        width: 100%;
    }

    .had_div>a {
        font-size: 60%;
    }

    .logo_header {
        font-size: 12px;
    }

    .logo_1 {
        height: 20px;
    }

    .header_photo {
        height: 500px;
    }

    .cloud1 {
        height: 500px;
    }

    .cloud2 {
        height: 500px;
    }

    .text_header {
        font-size: 13px;
        line-height: 20px;
        width: 80%;
    }

    .text_header>h1 {
        font-size: 19px;
    }

    .button_header {
        width: 100px;
        font-size: 12px;
    }

    main>h1 {
        font-size: 20px;
    }

    .img_icon {
        height: 30px;
    }

    .div_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    main {
        padding-left: 5%;
        padding-right: 5%;
    }

    .form>input,
    select {
        font-size: 12px;
        padding: 3px;
        height: 30px;
    }

    label {
        font-size: 12px;
    }

    .button1 {
        width: 100px;
        font-size: 13px;
    }


    .karos_h {
        font-size: 15px;
    }

    .karos_text {
        font-size: 10px;
        padding: 10px;
        ;
    }


    .otzuvy>section {
        width: 170px;
        gap: 5px;
    }

    .otzuv_img {
        height: 150px;
        width: 150px;
    }

    .otzuv_p {
        font-size: 12px;
    }











    .podpiska {
        font-size: 12px;
        gap: 5px;
    }

    .podp {
        font-size: 15px;
    }


    .email>input {
        height: 30px;
    }

    .podpiska>button {
        width: 150px;
        font-size: 10px;
    }


    footer {
        padding-left: 5%;
        padding-right: 5%;
    }

    .img_foot {
        height: 30px;
    }

    .sect_foot>p {
        font-size: 10px;
    }
}











@media(max-width:430px) {
    .dropdown{
        display: block;
    }
    .nav_header {
        justify-content: space-between;
    }

    .had_div {
        display: none;
    }

    .burger {
        display: block;
        height: 30px;
    }

    .logo_header {
        font-size: 30px;
    }

    .logo_1 {
        height: 30px;
    }



    .header_photo {
        height: 800px;
    }

    .cloud1 {
        height: 800px;
    }

    .cloud2 {
        height: 800px;
    }

    .text_header {
        font-size: 20px;
        line-height: 40px;
        width: 90%;
    }

    .text_header>h1 {
        font-size: 25px;
    }

    .button_header {
        width: 300px;
        font-size: 20px;
    }

    .button_header:hover {
        background-color: rgb(238, 238, 238);
    }

    main>h1 {
        font-size: 30px;
    }

    .img_icon {
        height: 60px;
    }

    .div_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .sect_alg {
        font-size: 20px;
    }

    .form>input,
    select {
        font-size: 20px;
        padding: 5px;
        height: 40px;
        width: 100%;
    }

    .form {
        box-shadow: none;
        padding: 0;
    }

    label {
        font-size: 20px;
    }

    .button1 {
        width: 200px;
        font-size: 20px;
    }





    .karos_h {
        font-size: 30px;
    }

    .karos_text {
        font-size: 20px;
        padding: 10px;
        ;
    }

    .kar {
        object-fit: cover;
        height: 600px;
        width: 100%;
        /* border: solid 3px blue; */
    }

    .karos_text {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.553);
        border-radius: 10px;
    }

    .carousel {
        height: 600px;
    }









    .otzuvy>section {
        width: 100%;
        gap: 5px;
    }

    .otzuv_img {
        height: 150px;
        width: 150px;
    }

    .otzuv_p {
        font-size: 20px;
    }











    .podpiska {
        font-size: 20px;
        gap: 5px;
    }

    .email {
        flex-direction: column;
        gap: 5px;
    }

    .podp {
        font-size: 25px;
    }


    .podpiska>button {
        width: 150px;
        font-size: 20px;
    }

    .email>input {
        width: 100%;
        height: 40px;
    }

    .podpiska>button {
        width: 350px;
    }













    footer {
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: column;
    }

    .kontaktu {
        display: flex;
        flex-direction: row;
    }

    .img_foot {
        height: 40px;

    }

    .sect_foot>p {
        font-size: 15px;
    }

}